// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';
$logo-width: 140px;
$hamburger-width: 55px; // header

#preheader {
  display: block;
  height: $header-smartphone-height;
}

#header {
  height: $header-smartphone-height;
  background-color: $color-4;
  border-bottom: solid 1px $color-2;
  @include define-basic-transition(all, 0.3s);

  &.overlayed {
    background-color: $color-8;
    border-bottom: solid 1px $color-8;

    #header-structure {
      .logo {
        &:before {
          background-image: url("assets/images/kleecks-logo-white.svg");
        }
      }

      .side-head {
        .hambuger-element span {
          background-color: $color-4;
        }
      }
    }
  }

  #header-structure {
    width: 100%;
    height: $header-smartphone-height;

    .logo {
      width: $logo-width;
      height: $header-smartphone-height;

      &:before {
        top: 20px;
        left: 0;
        height: 20px;
      }
    }

    .menu {
      display: none;
      pointer-events: none;
      opacity: 0;
    }

    .side-head {
      width: calc(100% - #{$logo-width});
      text-align: right;

      ul {
        width: 100%;

        li {
          text-align: center !important;
          display: inline-block;

          &.bookdemo-li {}

          &.hamburger-li {
            .hambuger-element {
              margin-left: 10px;
              top: 3px;
            }
          }
        }
      }
    }
  }
}

.mega-menu {
  display: none;
}

#head-overlay {
  top: $header-smartphone-height;
  width: 100%;
  //height: calc(100vh - #{$header-smartphone-height});
  height: calc((var(--vh, 1vh) * 100) - #{$header-smartphone-height});
  background-color: $color-8;

  .mobile-book {
    display: none;
  }

  .menu {
    width: 100%;
    margin-top: 20px;

    .overlay-menu-mobile-css {
      width: 100%;

      li {
        position: relative;
        display: block;
        text-align: left;
        overflow: hidden;
        margin-bottom: 10px;
        font-size: $h3-size-smartphone;
        line-height: $h3-lineheight-smartphone;
        text-transform: uppercase;

        a {
          position: relative;
          display: block;
          padding: 20px 15px 10px 0;
          border-bottom: solid 1px $color-1;

          span {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            text-align: right;
            color: $color-6;
            margin-left: 10px;

            &:after {
              font-family: "kleecks-icons" !important;
              content: attr(data-icon);
              font-style: normal !important;
              font-weight: normal !important;
              font-variant: normal !important;
              text-transform: none !important;
              speak: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: "\61";
              position: absolute;
              top: 0;
              right: 1px;
              width: 16px;
              height: 16px;
              font-size: 16px;
            }

            &.menu-icon-closed {
              @include define-rotate(180);
            }
          }
        }
      }

      .current-page-ancestor,
      .current_page_item {}

      .sub-menu {
        display: none;
        padding-top: 35px;
        margin-bottom: 65px;

        li {
          width: 100%;
          font-size: $h4-size-smartphone;
          line-height: $h4-lineheight-smartphone;
          font-weight: $font-weight-1;
          text-transform: none;
          margin: 0 0 10px;

          &:last-child {
            border-bottom: none;
            padding: 0;
            margin: 0;
          }

          &.footer-as-h5 {
            font-size: $h5-size-smartphone;
            line-height: $h5-lineheight-smartphone;
            font-weight: $font-weight-4;
            margin-top: 30px;
            text-transform: uppercase;
            pointer-events: none;

            &:first-child {
              margin-top: 0;
            }

            a {
              color: $color-6;
            }
          }

          a {
            display: block;
            //width: calc(100% - (#{$wrapper-padded-smartphone} * 2));
            padding: 0;
            border-bottom: none;

            &:after {
              content: "";
            }
          }
        }
      }
    }
  }

  .inline-socials {
    margin-top: 20px;
  }
}

.occupy-scrollbar {
  width: 100% !important;
}

.scroll-opportunity {
  width: 100%;
  height: calc((var(--vh, 1vh) * 100) - #{$header-smartphone-height});
  //padding-bottom: 54px;
}
// footer

#footer {
  padding: 44px 0 19px;

  .flex-hold-2 {
    .flex-hold-child {
      margin-bottom: 0;
    }
  }

  .footer-menu-top {
    position: relative;
    width: 100%;
    //@include flex-wrap;
    li {
      display: block;
      width: 100%;
      margin-bottom: 20px;

      &.footer-as-h4 {
        font-size: $h4-size-smartphone;
        line-height: $h4-lineheight-smartphone;
        font-weight: $font-weight-4;
        margin-top: 30px;
        text-transform: uppercase;
        pointer-events: none;

        &:first-child {
          margin-top: 0;
        }

        a {
          color: $color-4;
        }
      }

      &.footer-as-h5 {
        font-size: $h5-size-smartphone;
        line-height: $h5-lineheight-smartphone;
        font-weight: $font-weight-4;
        margin-top: 30px;
        text-transform: uppercase;
        pointer-events: none;

        &:first-child {
          margin-top: 0;
        }

        a {
          color: $color-6;
        }
      }
    }
  }

  .footer-menu,
  .footer-menu-bottom {
    width: 100%;
    text-align: left;

    li {
      display: block;
      margin: 0 0 25px;

      &:last-child {
        //margin: 0;
      }
    }
  }

  .inline-socials {
    margin: 44px 0;
  }
}