// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-expanding-text {
  .module-paddings-top {
    padding-top: $module-vertical-padding-smartphone;
  }

  .module-paddings-top-double {
    padding-top: calc(#{$module-vertical-padding-smartphone} * 2);
  }

  .module-no-paddings-top {
    padding-top: 0;
  }

  .module-paddings-bottom {
    padding-bottom: $module-vertical-padding-smartphone;
  }

  .module-paddings-bottom-double {
    padding-bottom: calc(#{$module-vertical-padding-smartphone} * 2);
  }

  .module-no-paddings-bottom {
    padding-bottom: 0;
  }

  .expanding-topic {
    margin-bottom: $module-vertical-padding-smartphone;

    h2 {
      margin-bottom: 34px;
    }
  }

  .expanding-block {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid 1px $color-8;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  .expander {
    position: relative;
    width: 100%;
    line-height: 17px !important;
    font-weight: $font-weight-3 !important;
    padding: 0 40px 0 30px !important;
    text-align: left;
    @include reset-button;
    color: $color-8;

    .faq-counter {
      position: absolute;
      top: 0;
      left: 0;
    }

    .exp-arrow {
      position: absolute;
      top: 0;
      right: 0;
      font-family: "kleecks-icons" !important;
      content: attr(data-icon);
      font-style: normal !important;
      font-weight: normal !important;
      font-variant: normal !important;
      text-transform: none !important;
      speak: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include define-basic-transition(all, 0.3s);

      &.exp-plus {
        color: $color-5;
        @include define-rotate(90);

        &:before {
          content: "\62";
        }
      }

      &.exp-minus {
        color: $color-6;
        @include define-rotate(-90);

        &:before {
          content: "\62";
        }
      }
    }
  }

  .expandable-content {
    .inner {
      padding: 15px 20px 15px 30px;
    }
  }
}