// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-key-questions {
  .module-paddings-top {
    padding-top: $module-vertical-padding-smartphone;
  }

  .module-paddings-top-double {
    padding-top: calc(#{$module-vertical-padding-smartphone} * 2);
  }

  .module-no-paddings-top {
    padding-top: 0;
  }

  .module-paddings-bottom {
    padding-bottom: $module-vertical-padding-smartphone;
  }

  .module-paddings-bottom-double {
    padding-bottom: calc(#{$module-vertical-padding-smartphone} * 2);
  }

  .module-no-paddings-bottom {
    padding-bottom: 0;
  }

  .flex-hold-key-questions {
    .key-questions {
      order: 2;
      width: 100%;
      padding: 40px 24px;
    }

    .key-questions-intro {
      order: 1;
      width: 100%;
      margin-bottom: 34px;
    }
  }

  .key-questions-list {
    font-size: $paragraph-size-smartphone;
    line-height: $paragraph-lineheight-smartphone;
    font-weight: $font-weight-3;

    li {
      position: relative;
      margin-bottom: 30px;
      padding: 0 0 10px 30px;
      border-bottom: solid 1px $color-8;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }

      .counter {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}