// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.logos-slideshow {
  margin-top: 10px;

  .slick-slide {
    position: relative;
    height: 62px;
    overflow: hidden;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.slide-caption {
  padding: 10px 5px 0;
}
// navigation

.slick-next,
.slick-prev {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  font-size: 30px;

  &.slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.slick-prev {
  right: 64px;
}

.slick-next {
  right: 32px;
}

.slick-dots {
  text-align: center;
  padding: 10px 0 0 0 !important;

  li {
    display: inline-block;
    margin: 0 5px;

    button {
      width: 20px;
      height: 20px;
      border: none;
      font-size: 0;
      margin: 0;
      padding: 0;
      @include define-basic-transition(all, 0.3s);
      @include define-border-radius(20px);
      cursor: pointer;
    }
  }
}

.paging-info {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0 0;
  text-align: center;
}