// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.as-h1,
h1 {
  font-size: $h1-size-smartphone;
  line-height: $h1-lineheight-smartphone;
  margin-bottom: $h1-marginbottom-smartphone;

  .underline-green {
    white-space: nowrap;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 4px;
      left: -5px;
      width: calc(100% + 10px);
      height: 11px;
      background-color: $color-6;
      @include define-border-radius(16px);
    }
  }

  .underline-yellow {
    white-space: nowrap;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 4px;
      left: -5px;
      width: calc(100% + 10px);
      height: 11px;
      background-color: $color-7;
      @include define-border-radius(16px);
    }
  }

  .underline-blue {
    white-space: nowrap;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 4px;
      left: -5px;
      width: calc(100% + 10px);
      height: 11px;
      background-color: $color-5;
      @include define-border-radius(16px);
    }
  }

  .underline-red {
    white-space: nowrap;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 4px;
      left: -5px;
      width: calc(100% + 10px);
      height: 11px;
      background-color: $color-9;
      @include define-border-radius(16px);
    }
  }
}

.as-h2,
h2 {
  font-size: $h2-size-smartphone;
  line-height: $h2-lineheight-smartphone;
  margin-bottom: $h2-marginbottom-smartphone;
}

.as-h3,
h3 {
  font-size: $h3-size-smartphone;
  line-height: $h3-lineheight-smartphone;
  margin-bottom: $h3-marginbottom-smartphone;
}

.as-h4,
h4 {
  font-size: $h4-size-smartphone;
  line-height: $h4-lineheight-smartphone;
  margin-bottom: $h4-marginbottom-smartphone;
}

.as-h5,
h5 {
  font-size: $h5-size-smartphone;
  line-height: $h5-lineheight-smartphone;
  margin-bottom: $h5-marginbottom-smartphone;
}

.topic-title {
  position: relative;
  padding-left: 15px;

  &:before {
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    content: "";
    width: 9px;
    height: 13px;
    margin-right: 5px;
    background-image: url("assets/images/kleecks-features-title.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.as-h6,
h6 {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
  margin-bottom: $h6-marginbottom-smartphone;
}

p {
  font-size: $paragraph-size-smartphone;
  line-height: $paragraph-lineheight-smartphone;
  margin: 0 0 $paragraph-marginbottom-smartphone;
  padding: 0;
}

#footer {
  p {
    font-size: $h6-size-smartphone;
    line-height: $h6-lineheight-desktop;
    margin-bottom: 0;
  }
}

.cta-1 {
  font-size: $cta1-size-smartphone;
  line-height: $cta1-lineheight-smartphone;
}

.cta-2,
.navigation {
  font-size: $cta2-size-smartphone;
  line-height: $cta2-lineheight-smartphone;
}

.text-handwritten {
  font-size: $hadwritten1-size-smartphone;
  line-height: $hadwritten1-lineheight-smartphone;
}

.text-extra-1 {
  font-size: $extra1-size-smartphone;
  line-height: $extra1-lineheight-smartphone;
}

.text-extra-2 {
  //font-size: $extra2-size-smartphone;
  //line-height: $extra2-lineheight-smartphone;
  font-size: $data-size-smartphone;
  line-height: $data-size-smartphone;
}

.content-styled {
  h1:not(:first-child) {
    margin-top: calc(#{$h1-marginbottom-smartphone} * 2);
  }

  h2:not(:first-child) {
    margin-top: calc(#{$h2-marginbottom-smartphone} * 2);
  }

  h3:not(:first-child) {
    margin-top: calc(#{$h3-marginbottom-smartphone} * 2);
  }

  h4:not(:first-child) {
    margin-top: calc(#{$h4-marginbottom-smartphone} * 2);
  }

  h5:not(:first-child) {
    margin-top: calc(#{$h5-marginbottom-smartphone} * 2);
  }

  h6:not(:first-child) {
    margin-top: calc(#{$h6-marginbottom-smartphone} * 2);
  }

  ul {
    font-size: $paragraph-size-smartphone;
    line-height: $paragraph-lineheight-smartphone;
    margin-bottom: $paragraph-marginbottom-smartphone;

    li {
      display: table-row;

      &:before {
        font-size: 20px;
        font-weight: $font-weight-1;
      }

      &:after {
        height: calc(#{$paragraph-marginbottom-smartphone} / 2);
      }
    }
  }

  ol {
    font-size: $paragraph-size-smartphone;
    line-height: $paragraph-lineheight-smartphone;
    margin-bottom: $paragraph-marginbottom-smartphone;
  }

  ol > li {
    &:before {
      font-family: $font-main;
      font-size: $paragraph-size-smartphone;
    }

    &:after {
      height: calc(#{$paragraph-marginbottom-smartphone} / 2);
    }
  }
}

.wp-caption-text,
.wp-caption.aligncenter .wp-caption-text,
.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignnone .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
  padding: 5px 0 0;
  font-size: $cta1-size-smartphone;
  line-height: $cta1-lineheight-smartphone;
  word-wrap: break-word;
  font-style: italic;
}

.expander {
  font-family: $font-main;
  font-weight: $font-weight-3;
  font-size: $paragraph-size-smartphone;
  line-height: $paragraph-lineheight-smartphone;

  .faq-counter {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.title-arrows-area-top {
  position: relative;
  min-height: 110px;

  &.space-opening-arrow-top-left {
    min-height: 110px;
  }

  &.space-opening-arrow-top-right {
    min-height: 70px;
  }

  &.space-opening-arrow-top-left.space-opening-arrow-top-right {
    min-height: 110px;
  }

  div[class*="title-arrow"] {
    position: absolute;
    background-repeat: no-repeat;
  }

  .title-arrow-top-left {
    height: 110px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 0 0 70px;
    background-image: url("assets/images/arrow-top-left.svg");
    background-position: 0 0;
    background-size: auto calc(100% - 10px);
  }

  .title-arrow-top-right {
    height: 45px;
    width: 227px;
    bottom: 0;
    right: 20px;
    padding: 0 50px 0 0;
    background-image: url("assets/images/arrow-top-right.svg");
    background-position: right 10px;
    background-size: auto calc(100% - 10px);
    text-align: right;
  }
}

.title-arrows-area-bottom {
  position: relative;

  div[class*="title-arrow"] {
    position: absolute;
    background-repeat: no-repeat;
  }

  .title-arrow-bottom-right {
    height: 110px;
    width: 160px;
    top: 0;
    right: 40px;
    //padding: 0 130px 0 0;
    background-image: url("assets/images/arrow-bottom-right.svg");
    background-position: calc(50% + 20px) 0;
    background-size: auto calc(100% - 20px);
    text-align: center;

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

.checklist {
  position: relative;
  display: block;
  width: 100%;
  margin: 40px 0 0;

  li {
    background-image: url("assets/images/kleecks-checklist-item.svg");
    background-position: 0 0;
    background-size: 33px 28px;
    background-repeat: no-repeat;
    padding: 0 0 0 50px;
    margin: 0 0 40px;
    min-height: 46px;

    h4 {
      margin-bottom: 12px;
    }
  }
}

.breadcrumbs-holder {
  font-size: $h6-size-smartphone;
  line-height: $h6-size-smartphone;
}

.footer-menu,
.footer-menu-bottom {
  font-size: $h6-size-smartphone;
  line-height: $h6-lineheight-smartphone;
}

.opening-kleecks {
  .title-arrows-area-bottom,
  .title-arrows-area-top {
    display: none;
  }
}