// main: ../style.scss
@import '../global/vars';
@import '../global/mixin';

.module-banner {
  .module-paddings-top {
    padding-top: $module-vertical-padding-desktop;
  }

  .module-paddings-top-double {
    padding-top: calc(#{$module-vertical-padding-desktop} * 2);
  }

  .module-no-paddings-top {
    padding-top: 0;
  }

  .module-paddings-bottom {
    padding-bottom: $module-vertical-padding-desktop;
  }

  .module-paddings-bottom-double {
    padding-bottom: calc(#{$module-vertical-padding-desktop} * 2);
  }

  .module-no-paddings-bottom {
    padding-bottom: 0;
  }

  .banner-content {
    position: relative;
    padding: 48px 8vw;
  }

  .flex-hold-banner {
    .banner-texts {
      width: 610px;
    }

    .banner-cta {
      width: calc(100% - 610px);
      text-align: right;
    }
  }
}