// main: ../style.scss
@import 'vars';
@import 'mixin'; // hamburger

.hambuger-element {
  width: 23px;
  height: 16px;
  position: relative;
  display: inline-block;
  z-index: 9998;
  padding: 0;
  margin: 0;
  @include define-rotate(0);
  cursor: pointer;
  border: none !important;
  //overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -20px;
    width: 55px;
    height: 48px;
  }
}

.hambuger-element span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  @include define-rotate(0);
  @include define-basic-transition(all, 0.15s);
  @include define-border-radius(1px);
  background-color: $color-8;
}

.hambuger-element span:nth-child(1) {
  top: 0;
}

.hambuger-element span:nth-child(2),
.hambuger-element span:nth-child(3) {
  top: 7px;
}

.hambuger-element span:nth-child(4) {
  bottom: 0;
}

.hambuger-element.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.hambuger-element.open span:nth-child(2) {
  @include define-rotate(45);
}

.hambuger-element.open span:nth-child(3) {
  @include define-rotate(-45);
}

.hambuger-element.open span:nth-child(4) {
  opacity: 0;
}

.slick-dots {
  text-align: center;
  padding: 10px 0 0 0 !important;

  li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 24px;
    height: 24px;
    @include define-basic-transition(all, 0.3s);
    @include define-border-radius(24px);
    border: solid 1px $color-8;
    background-color: $color-4;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      left: 5px;
      top: 5px;
      width: 12px;
      height: 12px;
      background-color: $color-5;
      @include define-basic-transition(all, 0.3s);
      @include define-border-radius(12px);
      opacity: 0;
      pointer-events: none;
    }

    &.slick-active {
      &:before {
        opacity: 1;
      }
    }

    button {
      width: 24px;
      height: 24px;
      border: none;
      font-size: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
    }
  }
}