// main: ../style.scss
$break-desktop: 1024px;
$break-tablet-end: 1023px;
$break-mobile-start: 1px; // fonts vars
$font-main: "Inter", sans-serif;
$font-sub: "marydale", sans-serif;
$font-weight-1: 400; //Inter regular
$font-weight-2: 500; //Inter medium
$font-weight-3: 600; //Inter semibold
$font-weight-4: 700; //Inter bold, Marydale bold
$font-weight-5: 800; //Inter extra bold
$header-desktop-height: 68px; // header sizes
$header-smartphone-height: 64px; // header sizes
$wrapper-padded-desktop: 3.5vw; // wrapper paddings
$wrapper-padded-smartphone: 5vw; // wrapper paddings
$module-vertical-padding-desktop: 80px; // modules vertical paddings
$module-vertical-padding-smartphone: 40px; // modules vertical paddings
$flex-hold-column-thin-space-desktop: 36px; // modules vertical paddings
$flex-hold-column-wide-space-desktop: 72px; // modules vertical paddings
$flex-hold-column-thin-space-smartphone: 24px; // modules vertical paddings
$flex-hold-column-wide-space-smartphone: 36px; // modules vertical paddings
$color-1: #4b4b4b;
$color-2: #dbdbdb;
$color-3: #F0F0F4;
$color-4: #FFFFFF;
$color-5: #4446ff;
$color-6: #59d8a1;
$color-7: #ffd252;
$color-8: #232373;
$color-9: #fd7c66;
$color-upload-icon-clear: '%23FFFFFF'; // codificato per funzionare con SVG in linea nei CSS
$color-upload-icon-dark: '%23000000'; // codificato per funzionare con SVG in linea nei CSS
$color-form-ok: #0DBA04; // form usability colors
$color-form-error: #FF0000; // form usability colors
//fonts desktop
$h1-size-desktop: 56px;
$h1-lineheight-desktop: 60px;
$h1-marginbottom-desktop: 25px;
$h2-size-desktop: 32px;
$h2-lineheight-desktop: 40px;
$h2-marginbottom-desktop: 20px;
$h3-size-desktop: 25px;
$h3-lineheight-desktop: 36px;
$h3-marginbottom-desktop: 20px;
$h4-size-desktop: 18px;
$h4-lineheight-desktop: 30px;
$h4-marginbottom-desktop: 20px;
$h5-size-desktop: 14px;
$h5-lineheight-desktop: 24px;
$h5-marginbottom-desktop: 20px;
$h6-size-desktop: 15px;
$h6-lineheight-desktop: 24px;
$h6-marginbottom-desktop: 20px;
$paragraph-size-desktop: 16px;
$paragraph-lineheight-desktop: 25px;
$paragraph-marginbottom-desktop: 25px;
$cta1-size-desktop: 16px;
$cta1-lineheight-desktop: 16px;
$cta1-marginbottom-desktop: 20px;
$cta2-size-desktop: 16px;
$cta2-lineheight-desktop: 16px;
$cta2-marginbottom-desktop: 24px;
$hadwritten1-size-desktop: 28px;
$hadwritten1-lineheight-desktop: 32px;
$data-size-desktop: 80px;
$data-lineheight-desktop: 66px;
$extra1-size-desktop: 18px;
$extra1-lineheight-desktop: 24px;
$extra2-size-desktop: 60px;
$extra2-lineheight-desktop: 64px; //fonts smartphone
$h1-size-smartphone: 35px;
$h1-lineheight-smartphone: 36px;
$h1-marginbottom-smartphone: 16px;
$h2-size-smartphone: 26px;
$h2-lineheight-smartphone: 30px;
$h2-marginbottom-smartphone: 16px;
$h3-size-smartphone: 22px;
$h3-lineheight-smartphone: 30px;
$h3-marginbottom-smartphone: 16px;
$h4-size-smartphone: 16px;
$h4-lineheight-smartphone: 25px;
$h4-marginbottom-smartphone: 16px;
$h5-size-smartphone: 15px;
$h5-lineheight-smartphone: 24px;
$h5-marginbottom-smartphone: 16px;
$h6-size-smartphone: 14px;
$h6-lineheight-smartphone: 17px;
$h6-marginbottom-smartphone: 16px;
$paragraph-size-smartphone: 16px;
$paragraph-lineheight-smartphone: 25px;
$paragraph-marginbottom-smartphone: 25px;
$cta1-size-smartphone: 14px;
$cta1-lineheight-smartphone: 14px;
$cta1-marginbottom-smartphone: 20px;
$cta2-size-smartphone: 22px;
$cta2-lineheight-smartphone: 22px;
$cta2-marginbottom-smartphone: 24px;
$hadwritten1-size-smartphone: 20px;
$hadwritten1-lineheight-smartphone: 22px;
$data-size-smartphone: 70px;
$data-lineheight-smartphone: 42px;
$extra1-size-smartphone: 14px;
$extra1-lineheight-smartphone: 20px;
$extra2-size-smartphone: 33px;
$extra2-lineheight-smartphone: 40px;